<div style="position: relative;">

    <button class="btn btn-link" style="position: absolute; right: 10px;">Check Out</button>


    <div class="api-card" >
        <div style="height:inherit; min-width: 50px;" class="text-left float-left api-card-left">
            <img class="card-img-left" src="assets/img/cloudflare.png" height="32px" width="32px">
        </div>
        <div class="card-body float-left">
            <p class="card-title ">CloudFlare API</p>
        </div>
    </div>

</div>

