<div style="position: relative;">

    <button class="btn btn-link" [class.disabled]="apis.length == 0" style="position: absolute; top: 0; right: 0">Check Out</button>

    <div class="container-fluid" style="padding-top: 50px;">
   
      <div *ngIf="apis.length==0">
        <p>Cart is Empty</p>
      </div>
      <div class="row" *ngFor="let api of apis" style="margin: 10px 0;">
        <div class="col-2">
            <img class="card-img-left" src="assets/img/{{api.icon}}" height="32px" width="32px">
        </div>
        
        <div class="col-8">
            <p class="">{{api.name}}</p>
        </div>

        <div class="col-1">
            <a href="javascript:;" (click)="removeAPI(api);"><i class="material-icons">delete</i></a>
        </div>
    </div>
  </div>

</div>

