<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>

  <div class="paper">
    <div class="container">
      <div class="brand-caption">
        <div class="brand-heading">
          <h2>
            <span>Nutrionix</span></h2>
        </div>
        <div id="carousel-text-one" class="brand-sub-text">

          <span> World's largest nutrition information. Track what you eat </span>
          <p class="lead"></p>
        </div>


        <div class="bg-highlight">
          <div class="container branding-row">

            <div class="row">

              <div class="span4">

                <div class="row-fluid">

                  <div class="span3">
                    <!--
                    <i class="fa fa-search fa-4x fa-primary"></i>-->
                    <i class="material-icons icon-data">
                      search
                    </i>
                  </div>
                  <div class="span9">

                    <div id="featurette-heading-one">

                      <div class="marketing-brand-box-title"> Develop using our APIs </div>
                    </div>
                    <div id="featurette-text-one">

                      <div class="marketing-brand-box-body"> <span>View all APIs available in our API gallery, explore
                          their technical details, and try them. </span> </div>
                    </div>
                  </div>
                </div>


              </div>

              <div class="span4">

                <div class="row-fluid">

                  <div class="span3">
                    <!--
                    <i class="fa fa-search fa-4x fa-primary"></i>-->
                    <i class="material-icons icon-data">
                      shopping_cart
                    </i>
                  </div>
                  <div class="span9">

                    <div id="featurette-heading-one">

                      <div class="marketing-brand-box-title"> Register for free </div>
                    </div>
                    <div id="featurette-text-one">

                      <div class="marketing-brand-box-body"> <span> Learn how to join the user community and how to
                          shop for the APIs </span> </div>
                    </div>
                  </div>
                </div>


              </div>

              <div class="span4">

                <div class="row-fluid">

                  <div class="span3">
                    <!--
                    <i class="fa fa-search fa-4x fa-primary"></i>-->
                    <i class="material-icons icon-data">
                      notifications
                    </i>
                  </div>
                  <div class="span9">

                    <div id="featurette-heading-one">

                      <div class="marketing-brand-box-title"> Socialize </div>
                    </div>
                    <div id="featurette-text-one">

                      <div class="marketing-brand-box-body"> <span> Visit our support forum to find out more about out
                          APIs and to learn how others use them </span> </div>
                    </div>
                  </div>
                </div>


              </div>

            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</body>

</html>