<p>
  home works!
</p>

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>

  <div id="home-bg-id" class="home-bg-image home-bg ">
    <div class="container">
      <div class="brand-caption">
        <div class="brand-heading">
          <h2>
            <span>webMethods</span></h2>
        </div>
        <div class="brand-subheading">
          <h3>
            API Portal</h3>
        </div>
        <div id="carousel-text-one" class="brand-sub-text">

          <span> End-to-end API management solution powered by Software AG </span>
          <p class="lead"></p>
        </div>
        <div id="login-register-container" class="webLayout">
          <div id="home-login" class="loginRegister">
            <div id="login-register-wrapper" style="visibility: visible">
              <a href="" class="btn" id="home-login-button" aria-label="Log in">Log in</a>
              <a href="" class="btn" id="home-register-button" aria-label="Register">Register</a>

            </div>
          </div>
        </div>

        <div class="bg-highlight">
          <div class="container branding-row">

            <div class="row">

              <div class="span4">

                <div class="row-fluid">

                  <div class="span3">
<!--
                    <i class="fa fa-search fa-4x fa-primary"></i>-->
                    <i class="material-icons icon-data">
                      search
                  </i>
                  </div>
                  <div class="span9">

                    <div id="featurette-heading-one">
    
                      <div class="marketing-brand-box-title"> Develop using our APIs </div>
                    </div>
                    <div id="featurette-text-one">
    
                      <div class="marketing-brand-box-body"> <span>View all APIs available in our API gallery, explore
                          their technical details, and try them. </span> </div>
                    </div>
                </div>
              </div>

             
              </div>

              <div class="span4">

                <div class="row-fluid">

                  <div class="span3">
<!--
                    <i class="fa fa-search fa-4x fa-primary"></i>-->
                    <i class="material-icons icon-data">
                      shopping_cart
                  </i>
                  </div>
                  <div class="span9">

                    <div id="featurette-heading-one">
    
                      <div class="marketing-brand-box-title"> Register for free </div>
                    </div>
                    <div id="featurette-text-one">
    
                      <div class="marketing-brand-box-body"> <span> Learn how to join the user community and how to shop for the APIs </span> </div>
                    </div>
                </div>
              </div>

             
              </div>

              <div class="span4">

                <div class="row-fluid">

                  <div class="span3">
<!--
                    <i class="fa fa-search fa-4x fa-primary"></i>-->
                    <i class="material-icons icon-data">
                      notifications
                  </i>
                  </div>
                  <div class="span9">

                    <div id="featurette-heading-one">
    
                      <div class="marketing-brand-box-title"> Socialize </div>
                    </div>
                    <div id="featurette-text-one">
    
                      <div class="marketing-brand-box-body"> <span> Visit our support forum to find out more about out APIs and to learn how others use them </span> </div>
                    </div>
                </div>
              </div>

             
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</body>

</html>