.toppane{
    width: available;
    border-collapse: collapse;
    height : available;
  
}

.brand-heading {color: #009688;
    font-size: xx-large;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px #acacac;
    white-space: nowrap;
    line-height: 1;
    text-transform: uppercase;
    }

    
    
    .marketing-brand-box-body {
        font-size: 16px;
        font-weight: 400;
        color: #333;
        line-height: 1.5;
        text-align: left;
        clear: left;
    }
    
    .icon-data {
        color: #009688;
        font-size: 4em;
margin-top:  2%
    }
    
    .marketing-brand-box-title {
        font-size: 25px;
        font-weight: 300;
        color: #333;
        float: left;
        margin-bottom: 10px;
}


    .subscript-text{
        color: #82c4be;
        font-size: 18px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: none;
    white-space: nowrap;
    line-height: 1.5;
    text-transform: uppercase;
    }

    .brand-sub-text {
        font-size: 30px;
        font-weight: 300;
        color: #333333;
        text-shadow: none;
        white-space: nowrap;
        padding-top: 2%;
        width: 410px;
        line-height: 1.5;
    }
    

    .container-class{
        width: available;
        height: available;
    }
    
    .paper {
        background: #FFF;
        padding: 30px;
        height: 86%;
        width: 95%;
      }
      
      .paper,
      .paper::before,
      .paper::after {
        /* Styles to distinguish sheets from one another */
        box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
        border: 1px solid #bbb;
        
        margin: 20px;
      }
      
      .paper::before,
      .paper::after {
        content: "";
        position: absolute;
        height: 80%;
        width: 94%;
        background-color: #eee;
      }
      
      .paper::before {
        right: 22px;
        top: 50px;
        transform: rotate(-1deg);
        z-index: -1;
      }
      
      .paper::after {
        top: 50px;
        right: 22px;
        transform: rotate(1deg);
        z-index: -2;
      }