.brand-heading {color: #009688;
font-size: 48PX;
font-weight: 700;
text-shadow: none;
white-space: nowrap;
line-height: 1;
text-transform: uppercase;
}

.brand-caption {
    background-color: transparent;
    position: inherit;
    max-width: 550px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: 16%;
}

.brand-subheading {
    color: #333333;
    font-size: 48PX;
    font-weight: 300;
    text-shadow: none;
    white-space: nowrap;
    line-height: 1;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.brand-sub-text {
    font-size: 24px;
    font-weight: 300;
    color: #333333;
    padding-top: 5%;
    width: 410px;
    line-height: 1.5;
}

.btn.btn-primary, .btn.btn-primary.disabled, .btn.btn-primary[disabled], .btn.btn-primary.disabled:hover, .btn.btn-primary[disabled]:hover, a.btn.btn-primary.disabled, a.btn.btn-primary[disabled], a.btn.btn-primary.disabled:hover, a.btn.btn-primary[disabled]:hover {
    color: #ffffff;
    background-color: #009688;
    border: 2px solid #009688;
    background-image: none;
}

.btn:not(.btn-primary):not(.btn-secondary):not(.dropdown-toggle), .btn.disabled:not(.btn-primary):not(.btn-secondary):not(.btn-secondary):not(.dropdown-toggle), .btn[disabled]:not(.btn-primary):not(.btn-secondary):not(.dropdown-toggle), a.btn.disabled:not(.btn-primary):not(.btn-secondary):not(.dropdown-toggle), a.btn[disabled]:not(.btn-primary):not(.btn-secondary):not(.dropdown-toggle){
    color: #009688;
    background-color: #ffffff;
    border: 2px solid #009688;
}

#home-register-button {
    margin-left: 10px;
}

a, a:hover{
    color: #009688;
    cursor: pointer;
}

.btn {
    border-radius: 0;
    background-image: none;
    box-shadow: none;
    padding: 5px 15px 6px 15px;
    font-weight: normal;
    font-size: 16px;
}
.btn.btn-primary, .btn.btn-primary, .btn.btn-primary span {
    color: #ffffff;
}

.marketing-brand-box-body {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    line-height: 1.5;
    text-align: left;
    clear: left;
}

.marketing-brand-box-title {
    font-size: 24px;
    font-weight: 300;
    color: #333;
    float: left;
    margin-bottom: 10px;
}

.icon-data {
    color: #009688;
    font-size: 4em;
}


.home-bg-image{
    background-image: url("/assets/img/background2.jpg");
}

.home-bg {
    margin: 0;
    padding: 0;
    position: absolute;
    top: -40px;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
}