<div class="paper">

  <div class="container-class">
    <div class="toppane">
      <div class="brand-heading">
        <h2>
          <span>Nutrionix</span></h2>
      </div>
      <sub class="subscript-text">Track what you eat</sub>

      <div class="brand-sub-text">

        <span> World's largest nutrition information </span>
      </div>
    </div>

    <div class="row">

      <div class="column">
        <div class="sub-text">
          <div class="span4">
            <div class="span3">

              <i class="material-icons icon-data">
                restaurant_menu
              </i>
            </div>
            <div class="span9">

              <div id="featurette-heading-one">

                <div class="marketing-brand-box-title">Restaurants </div>
              </div>
              <div id="featurette-text-one">

                <div class="marketing-brand-box-body"> <span> Calculate your meal at select restaurant chains. We offer customised meal building experience for the restaurant chains</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="sub-text">
          <div class="span4">
            <div class="span3">

              <i class="material-icons icon-data">
                store_mall_directory
              </i>
            </div>
            <div class="span9">

              <div id="featurette-heading-one">

                <div class="marketing-brand-box-title">Store Locator</div>
              </div>
              <div id="featurette-text-one">

                <div class="marketing-brand-box-body"> <span>  
                  Use our store locator to find the nearest food store to you. Get contact details and map directions of all food stores.</span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="column">

        <div class="sub-text">
          <div class="span4">
            <div class="span3">

              <i class="material-icons icon-data">
                settings_cell
              </i>
            </div>
            <div class="span9">

              <div id="featurette-heading-one">

                <div class="marketing-brand-box-title">Track </div>
              </div>
              <div id="featurette-text-one">

                <div class="marketing-brand-box-body"> <span> Track what you eat using our APIs. Making fitness tracking a daily habit is an effective way to work towards your health goals.</span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>


  </div>
</div>