<div class="container-fluid">
  <h1>
      API Gallery
  </h1>
<br>
<div class="card-deck">
  <div class="card" style="width:300px">
      <img src="assets/img/petstore.png" height="64px" width="64px" class="mx-auto d-block">
      <div class="card-body">
          <h4 class="card-title">PetStore API</h4>
          <p class="card-text">This is PetStore API</p>
          <a href="#" class="btn btn-primary">View details</a>
      </div>
  </div>
  <div class="card" style="width:300px">
      <img src="assets/img/brewerydb.png" height="64px" width="64px" class="mx-auto d-block">
      <div class="card-body">
          <h4 class="card-title">BreweryDB API</h4>
          <p class="card-text">This is BreweryDB API</p>
          <a href="#" class="btn btn-primary">View details</a>
      </div>
  </div>
  <div class="card" style="width:300px">
      <img src="assets/img/airport.png" height="64px" width="64px" class="mx-auto d-block">
      <div class="card-body">
          <h4 class="card-title">Airport API</h4>
          <p class="card-text">This is Airport API</p>
          <a href="#" class="btn btn-primary">View details</a>
      </div>
  </div>
  <div class="card" style="width:300px">
      <img src="assets/img/foursquare.png" height="64px" width="64px" class="mx-auto d-block">
      <div class="card-body">
          <h4 class="card-title">FourSquare API</h4>
          <p class="card-text">This is FourSquare API</p>
          <a href="#" class="btn btn-primary">View details</a>
      </div>
  </div>
  <div class="card" style="width:300px">
      <img src="assets/img/cloudflare.png" height="64px" width="64px" class="mx-auto d-block">
      <div class="card-body">
          <h4 class="card-title">CloudFlare API</h4>
          <p class="card-text">This is CloudFlare API</p>
          <a href="#" class="btn btn-primary">View details</a>
      </div>
  </div>
  <div class="card" style="width:300px">
      <img src="assets/img/sugarsync.png" height="64px" width="64px" class="mx-auto d-block">
      <div class="card-body">
          <h4 class="card-title">SugarSync API</h4>
          <p class="card-text">This is SugarSync API</p>
          <a href="#" class="btn btn-primary">View details</a>
      </div>
  </div>
</div>
<br>    
</div>