<app-pagetitle [title]="title"></app-pagetitle>

<div class="container-fluid">
    <div class="row-fluid">

        <div class="col-xl-3 api-card" >
            <div style="height:inherit" class="text-left float-left api-card-left">
                <img class="card-img-left" src="assets/img/petstore.png" height="64px" width="64px">
            </div>
            <div class="card-body float-left">
                <h4 class="card-title ">PetStore API</h4>
                <a href="javascript:;"><i class="material-icons float-right"> share </i> </a>
            </div>
        </div>

        <div class="col-xl-3 api-card" >
            <div style="height:inherit" class="text-left float-left api-card-left">
                <img class="card-img-left" src="assets/img/brewerydb.png" height="64px" width="64px">
            </div>
            <div class="card-body float-left">
                <i class="material-icons float-right" style="font-size: 14px;"> vpn_lock </i>
                <h4 class="card-title ">BreweryDB API</h4>
                <a href="javascript:;"><i class="material-icons float-right"> share </i> </a>
                <a href="javascript:;"><i class="material-icons float-right"> shopping_cart &nbsp; </i> </a>
            </div>
        </div>

        <div class="col-xl-3 api-card" >
            <div style="height:inherit" class="text-left float-left api-card-left">
                <img class="card-img-left" src="assets/img/airport.png" height="64px" width="64px">
            </div>
            <div class="card-body float-left">
                <i class="material-icons float-right" style="font-size: 14px;"> vpn_lock </i>
                <h4 class="card-title ">Airport API</h4>
                <a href="javascript:;"><i class="material-icons float-right"> share </i> </a>
                <a href="javascript:;"><i class="material-icons float-right"> shopping_cart &nbsp; </i> </a>
            </div>
        </div>

        <div class="col-xl-3 api-card" >
            <div style="height:inherit" class="text-left float-left api-card-left">
                <img class="card-img-left" src="assets/img/foursquare.png" height="64px" width="64px">
            </div>
            <div class="card-body float-left">
                <h4 class="card-title ">FourSquare API</h4>
                <a href="javascript:;"><i class="material-icons float-right"> share </i> </a>
            </div>
        </div>

    </div>
    <br />
    <div class="row-fluid">
        <div class="col-xl-3 api-card" >
            <div style="height:inherit" class="text-left float-left api-card-left">
                <img class="card-img-left" src="assets/img/sugarsync.png" height="64px" width="64px">
            </div>
            <div class="card-body float-left">
                <i class="material-icons float-right" style="font-size: 14px;"> vpn_lock </i>
                <h4 class="card-title ">SugarSync API</h4>
                <a href="javascript:;"><i class="material-icons float-right"> share </i> </a>
                <a href="javascript:;"><i class="material-icons float-right"> shopping_cart &nbsp; </i> </a>
            </div>
        </div>

        <div class="col-xl-3 api-card" >
            <div style="height:inherit" class="text-left float-left api-card-left">
                <img class="card-img-left" src="assets/img/cloudflare.png" height="64px" width="64px">
            </div>
            <div class="card-body float-left">
                <i class="material-icons float-right" style="font-size: 14px;"> vpn_lock </i>
                <h4 class="card-title">CloudFlare API</h4>
                <a href="javascript:;"><i class="material-icons float-right"> share </i> </a>
                <a href="javascript:;"><i class="material-icons float-right"> shopping_cart &nbsp; </i> </a>
            </div>
        </div>
    </div>

    <br />
</div>