#content-wrapper {
    height: calc(100vh - 90px);
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    display: flex;
}

#content {
    width: calc(100% - 250px);
    height: inherit;

}

#content.full{
    width: 100%;
}

#id-cart-list {
    width: 250px;
    background-color: #EEE;
    height: inherit;
    margin-right: -250px;
    border-left: 1px solid #CCC;
}

footer {
    border-top: 1px solid #CCC;
    font-size: 12px;
}

footer p {
    padding: 0 40px;
    margin:10px 0;
}