/* You can add global styles to this file, and also import other style files */
a:focus,a:active,a:visited,a:hover,
button:focus, button:active, button:visited, button:hover {
    text-decoration: none !important;
}

body {
    margin-top: 50px;
    font-family: 'Barlow', sans-serif;
    height: calc(100vh - 50px);
    overflow: hidden;
}

.p-left40{
    padding-left: 40px;
}

.api-card {
    border: 1px solid #EEE;
    height: 100px;
    padding: 0;
    display: inline-flex;
    margin: 10px 10px 0 0;
    width: 24%;
    -webkit-box-shadow: -1px 1px 14px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 14px -4px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 14px -4px rgba(0,0,0,0.75);
}

.api-card .card-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.api-card-left {
    width: 30%;
    background: #EEE;
    padding: 20px 20px;
    min-width: 100px;
}