/* You can add global styles to this file, and also import other style files */
a:focus,a:active,a:visited,a:hover {
    text-decoration: none;
}

body {
    margin-top: 50px;
    font-family: 'Barlow', sans-serif;
    height: calc(100vh - 50px);
    overflow: hidden;
}